
<!doctype HTML>
<html>
<head>
    <title>Synchronized Sliders</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
    <script src="{{url_for('static', filename='react.js')}}"></script>
    <script src="{{url_for('static', filename='react.min.js')}}"></script>
    <script src="{{url_for('static', filename='react-dom.min.js')}}"></script>
    <script src="{{url_for('static', filename='browser.min.js')}}"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
    
</head>
<body>
    <h1>Synchronized Sliders!</h1>

    <h1>{{lat}},{{lon}}</h1>
    
     <div id='map' style='width: 800px; height: 600px;'></div>
    <script type="text/javascript" charset="utf-8">
            var mylat = 33
            var mylon = -72           
            
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            
            socket.on('connect', function() {
            // we emit a connected message to let knwo the client that we are connected.
            console.log("trying to connect")
            socket.emit('client_connected', {data: 'New client!'});
            });
            
           
            
            socket.on('update value', function(msg) {
                        console.log(msg)
                        mylat = msg['lat']
                        mylon = msg['lon']
                        console.log(mylat,mylon)
                        });
                        
            setInterval(function(){
                                    socket.emit('value changed', 'get update');
                                    
                        },10000);
            
           </script>
           
           
           <script> 
            L.mapbox.accessToken = 'pk.eyJ1IjoiYWJoaXNoZWs5NSIsImEiOiJjamZnN3NneGUwdGx5MzNsOXB5ajQ4eHQxIn0.YIi1ClkL-V2ndbLtDqhgSQ';
          var map = L.mapbox.map('map', 'mapbox.light').setView([mylat, mylon], 6);

            var marker = L.marker([mylon, mylat], {
                icon: L.mapbox.marker.icon({
                  'marker-color': '#f86767'
                })
            });

            var t = 0;
            window.setInterval(function() {
                // Making a lissajous curve just for fun.
                // Create your own animated path here.
                marker.setLatLng(L.latLng(
                    mylat,mylon));
            }, 50);
            
            marker.addTo(map);
                      

    </script>
</body>
</html>