
<!doctype HTML>
<html>
<head>
    <title>Synchronized Sliders</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
    <script src="{{url_for('static', filename='react.js')}}"></script>
    <script src="{{url_for('static', filename='react.min.js')}}"></script>
    <script src="{{url_for('static', filename='react-dom.min.js')}}"></script>
    <script src="{{url_for('static', filename='browser.min.js')}}"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />

    
</head>
<body>
    <h1>Synchronized Sliders!</h1>

    <h1>{{lat}},{{lon}}</h1>
    
     <div id='map' style='width: 800px; height: 600px;'></div>
    <script type="text/javascript" charset="utf-8">
            var mylat = 33
            var mylon = -72
            console.log(mylat,mylon)
            console.log({{lat}},{{lon}})
            
            
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            
            socket.on('connect', function() {
            // we emit a connected message to let knwo the client that we are connected.
            console.log("trying to connect")
            socket.emit('client_connected', {data: 'New client!'});
            });
            
           
            
            socket.on('update value', function(msg) {
                        console.log(msg)
                        mylat = {{lat}}
                        mylon = {{lon}}
                        console.log(mylat,mylon)
                        });
                        
            setInterval(function(){
                                    socket.emit('value changed', 'get update');
                                    
                        },1000);
            
           </script>
           
           
           <script> 
            mapboxgl.accessToken = 'pk.eyJ1IjoiYWJoaXNoZWs5NSIsImEiOiJjamZnN3NneGUwdGx5MzNsOXB5ajQ4eHQxIn0.YIi1ClkL-V2ndbLtDqhgSQ';
          var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10',
            center : [{{lon}},{{lat}}],
            zoom: 5
          });
          console.log('map lib loaded')
          
          map.on('load', function() {
            map.loadImage('{{url_for('static', filename='pointer.png')}}', function(error, image) {
                if (error) throw error;
                map.addImage('cat', image);
                map.addLayer({
                    "id": "points",
                    "type": "symbol",
                    "source": {
                        "type": "geojson",
                        "data": {
                            "type": "FeatureCollection",
                            "features": [{
                                "type": "Feature",
                                "geometry": {
                                    "type": "Point",
                                    "coordinates": [{{lon}}, {{lat}]
                                }
                            }]
                        }
                    },
                    "layout": {
                        "icon-image": "cat",
                        "icon-size": 0.25
                    }
                });
            });
        });             

    </script>
</body>
</html>